#SET THE DIRECTORY INDEX
#DirectoryIndex Config/routes.php

#This removes /home from the url if the user add it.
Redirect /MVC_Template/home /MVC_Template/

RewriteEngine ON

#Solve the problem that I had in master where the css where not being included.
RewriteCond %{REQUEST_FILENAME} !-f

# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]

